* {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #e7e9ea;
}
ul {
  list-style: none;
}
.content {
  margin: 0px auto;
  width: 100%;
  max-width: 1250px;
  display: flex;
}

.left {
  width: 265px;
  margin-left: 1rem;
  height: 100vh;
}
@media screen and (max-width: 1298px) {
  .content {
    max-width: 1018px !important;
  }
  .left {
    min-width: 68px !important;
    max-width: 68px !important;
  }
  .left-content {
    width: 68px !important;
  }
  .leftbottom {
    width: 64px !important;
  }
  .leftbottom button {
    display: none !important;
  }
  .info {
    display: none !important;
  }
  .left-content ul li p {
    display: none !important;
  }
  .left-content ul li img {
    margin: 0px !important;
  }
  .tw-btn {
    width: 52px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tw-btn p {
    display: none !important;
  }
  .tw-btn img {
    display: block !important;
  }
}
.tw-btn img {
  width: 24px;
  height: 24px;
  display: none;
}
.left-content {
  position: fixed;
  top: 0px;
  overflow-x: hidden;
  width: 250px;
  padding: 4px 0px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-content .twt-icon {
  cursor: pointer;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  position: relative;
  padding: 10px;
}
.twt-icon:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.left-content ul li:hover {
  background-color: rgba(231, 233, 234, 0.1);
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.left-content ul li {
  user-select: none;
  border-radius: 2rem;
  display: flex;
  cursor: pointer;
  width: min-content;
  padding: 10px 12px;
  align-items: center;
  margin: 10px 0px;
}
.left-content ul li img {
  width: 26.5px;
  height: 26.5px;
  margin-right: 20px;
}
.left-content ul li p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 20px;
}

.left-content ul li a {
  display: flex;
}
.left-content ul li.active p {
  font-weight: 700;
}
.tw-btn {
  border: none;
  outline: none;
  margin-top: 1rem;
  width: 235px;
  cursor: pointer;
  background-color: #1d9bf0;
  color: white;
  height: 50px;
  font-weight: 700;
  font-size: 17px;
  border-radius: 2rem;
}
.tw-btn:hover {
  background-color: rgb(26, 140, 216);
}
.leftbottom:hover {
  border-radius: 2rem;
  background-color: rgba(231, 233, 234, 0.1);
}
.leftbottom {
  padding: 10px;
  cursor: pointer;
  padding: 12px;
  width: 251px;
  margin: 2rem 0px 12px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftbottom img {
  width: 40px;
  margin-right: 24px;
  height: 40px;
  border-radius: 100%;
}

.leftbottom .info {
  padding: 0px;
  margin-left: -10px;
}

.leftbottom .info h1 {
  font-size: 15px;
  font-weight: 700;
}

.leftbottom .info p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(113, 118, 123);
}
.leftbottom button {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.right {
  display: flex;
  width: 950px;
}

.feed {
  margin-right: 2rem;
  width: 100%;
  max-width: 600px;
  border-right: 1px solid #2f3336;
  border-left: 1px solid #2f3336;
}
.feed .header {
  cursor: pointer;
  border-left: 1px solid #2f3336;
  padding: 12px;
  z-index: 1;
  width: 599px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #2f3336;
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.65);
}
.feed .header button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.feed ul {
  margin-top: 56px;
}
.x {
  display: flex;
  align-items: center;
}

.feed .header h1 {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .content {
    max-width: 1000px !important;
  }
  .trends {
    width: 300px !important;
  }
  .trends-content {
    width: 300px !important;
  }
}
@media screen and (max-width: 1100px) {
  .trends,
  .trends-content {
    display: none !important;
  }
  .content {
    max-width: 670px !important;
  }
  .feed {
    margin-right: 1rem !important;
  }
}
.trends {
  width: 350px;
}

.trends-content {
  width: 350px;
  height: 100vh;
  top: 0px;

  position: fixed;
}

.search-box svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
  margin-left: 10px;
}

.search-box {
  margin-top: 4px;
  padding-left: 12px;
  background-color: #202327;
  align-items: center;
  display: flex;
  width: 100%;
  border-radius: 2rem;
  overflow: hidden;
}

.search-box.focus {
  outline: 1px solid #1d9bf0;
}

.search-box input {
  width: 100%;
  padding: 12px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  border: none;
  outline: none;
  color: #e7e9ea;
}
.trends-list {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: #16181c;
}
.trends-list .t {
  font-size: 20px;
  font-weight: 700;
  padding: 1rem;
}
.trends-list li {
  position: relative;
  cursor: pointer;
  padding: 1rem;
}
.trends-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.trends-content li h2 {
  color: rgb(113, 118, 123);
  font-size: 13px;
  font-weight: 400;
}
.trends-content li h1 {
  font-size: 15px;
  font-weight: 700;
  margin: 4px 0px;
}
.trends-content li p {
  font-size: 13px;
  font-weight: 400;
  color: rgb(113, 118, 123);
}
.trends-content li button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 6px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}
.trends-content li button:hover {
  background-color: rgba(29, 155, 240, 0.1);
  color: #1d9bf0;
}

.create {
  padding: 0px 1rem 1rem;
  border-bottom: 1px solid #2f3336;
}
.create .box {
  display: flex;
  align-items: center;
}

.create .pp {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 12px;
}
.create input {
  font-size: 20px;
  width: 100%;
  font-weight: 400;
  color: #e7e9ea;
  border: none;
  outline: none;
  background-color: transparent;
}
.create .lll {
  width: calc(100% - 50px);
  margin: 1rem 0px 0px;
  margin-left: 50px;
  height: 1px;
  background-color: #2f3336;
}
.create .buttons {
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 50px;
}
.create .buttons ul {
  display: flex;
  margin: 0px;
  align-items: center;
}
.create .buttons li button {
  cursor: pointer;
  width: 20px !important;
  background-color: transparent;
  height: 20px !important;
}
.create .buttons li button img {
  width: 20px !important;
  background-color: transparent;
  height: 20px !important;
}
.create .buttons li {
  width: 20px;
  height: 20px;
  margin: 0px 8px;
}
.create .tb {
  color: white;
  background-color: #1d9bf0;
  font-size: 15px;
  font-weight: 700;
  padding: 1rem;
  border-radius: 2rem;
  height: 38px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  justify-content: center;
}
.create .tb:disabled {
  background-color: #0e4d77;
  cursor: text;
  color: #7f7f7f;
}
.post {
  cursor: pointer;
  border-bottom: 1px solid #2f3336;
}
.item:hover {
  background-color: rgba(255, 255, 255, 0.04);
}
.item {
  padding: 12px;
  display: flex;
}
.u {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.item .l {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item .l .pp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.item .r {
  padding-left: 12px;
}
.post .item .u button {
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 6px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}
.post .item .u button:hover {
  background-color: rgba(29, 155, 240, 0.1);
  color: #1d9bf0;
}
.item .r {
  width: 100%;
}
.item .line {
  height: 100%;
  width: 2px;
  position: relative;
}
.item .r .txt img {
  border-radius: 1rem;
  width: 100%;
  margin-top: 12px;
}
.item .line .linee {
  top: 0px;
  position: absolute;
  background-color: #333639;
  height: calc(100% + 22px);
  width: 100%;
}
.item .r .txt .u {
  display: flex;
  align-items: center;
}
.item .r .txt .u .name {
  font-weight: 700;
  font-size: 15px;
}
.dot {
  margin: 0px 6px;
}
.item .r .txt .u .username,
.item .r .txt .u .date {
  font-weight: 400;
  font-size: 15px;
  color: #71767b;
}
.tick {
  margin: 0px 3px;
}
.item .r .txt .u .username {
  margin-right: 3px;
}
.item .name:hover {
  text-decoration: underline;
}

.item .date:hover {
  text-decoration: underline;
}
.d-icons {
  margin-top: 12px;
  display: flex;
  width: 425px;
  justify-content: space-between;
  align-items: center;
}
.d-icons button {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.d-icons svg {
  width: 19px;
  height: 19px;
}
.d-icons button p {
  margin: 0px 12px;
  color: #71767b;
}
.d-icons p {
  font-size: 13px;
}
.share:hover {
  background-color: rgba(29, 155, 240, 0.1);
  color: #1d9bf0 !important;
}
.share {
  top: 10px;
  right: 10px;
  width: 30px;
  padding: 6px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}
